html, body{
    height: 100%;
    position: relative;
}

.align-vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-calculator{
    height: 60px !important;
}

.btn-calculator{
    width: 60px !important;
    height: 60px !important;
}

.btn-large-calculator{
    width: 100% !important;
    height: 60px !important;
}

.calculator{
    width: 248px !important;
}

.td-full{
    width: 186px !important;
}
